<h2 *ngIf="(af.auth | async)">Pizzas under construction:</h2>
<div class="jumbotron"  *ngIf="(af.auth | async)">
  <div class="container" >
  <!--todo: complete = false-->
    <div class="col-md-3"  *ngFor="let pizza of pizzas | slice:0:4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>{{pizza.title}}</h4></div>
        <div class="panel-body">
          <img style="width: 100%" class="thumbnail" [src]="pizza.url" id="{{pizza.title}}" />
          <b>Owner:</b> {{pizza.owner}}<br>
          <b>Price:</b> ${{pizza.price}}
        </div>
      </div>
      <br />
    </div>
  </div>
</div>

<div class="jumbotron text-center" *ngIf="!(af.auth | async)">
  <div class="container" >
    <h1>Pizza Application</h1>
    <p>Log in to order your tasty custom pizza now!</p>
    <a (click)="login()"><img src="assets/img/google.png"></a>
  </div>
</div>

