<div class="bs-component">
  <h2 class="page-header">Add Pizza        <b>${{this.price}}</b></h2>

  <div class="col-lg-6">
    <a [routerLink]="['/pizzas']">Back</a>
    <br>
    <!--<div class="container">-->
      <!--<div class="custom-checkbox">-->
        <!--<input id="my-checkbox"  [(ngModel)]="my-checkbox" name="my-checkbox" type="checkbox"/>-->
        <!--<label for="my-checkbox"></label>-->
      <!--</div>-->
    <!--<canvas id="pizzabase"></canvas>-->
    <div>
      <div class="pizza-overlay">
        <img src="assets/img/pizza_base.jpg"/>
      </div>
      <div class="pizza-overlay-toping" *ngIf="this.mushrooms" id="mushrooms">
        <img src="assets/img/mushrooms.png"/>
      </div>
      <div class="pizza-overlay-toping" *ngIf="this.cheese" id="cheese">
        <img src="assets/img/cheese.png"/>
      </div>
      <div class="pizza-overlay-toping" *ngIf="this.bacon" id="bacon">
        <img src="assets/img/bacon.png"/>
      </div>
      <div class="pizza-overlay-toping" *ngIf="this.olive" id="olive">
        <img src="assets/img/olive.png"/>
      </div>
    </div>

  </div>

  <div class="col-lg-6">
  <form (submit)="onAddSubmit()" (change)="calcPizzaPrice()">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" [(ngModel)]="title" name="title" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <label>Size:</label>
      <br>
      <div class="radio-inline">
        <label>
          <input type="radio" name="size" [(ngModel)]="size" id="optionsRadios1" value="Small">Small
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="size" [(ngModel)]="size" id="optionsRadios2" value="Medium" checked="">Medium
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="size" [(ngModel)]="size" id="optionsRadios3" value="Big">Big
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>Topings:</label>
      <br>
      <div class="checkbox-inline"><label><input type="checkbox" [(ngModel)]="mushrooms" name="mushrooms">Mushrooms</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" [(ngModel)]="cheese" name="cheese">Cheese</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" [(ngModel)]="bacon" name="bacon">Bacon</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" [(ngModel)]="olive" name="olive">Olive</label></div>
    </div>
    <div class="form-group">
      <input id="image" type="file" [(ngModel)]="image" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label>Type</label>
      <select class="form-control" type="text"  [(ngModel)]="type" name="type">
        <option value="Meat">Meat</option>
        <option value="Veg">Veg</option>
        <option value="Cheese">Cheese</option>
      </select>
    </div>
    <div class="form-group">
      <label>Owner</label>
      <input class="form-control" type="text" [(ngModel)]="owner" name="owner" disabled>
    </div>
    <input type="submit" value="submit" class="btn btn-success">
  </form>
    <br />
  </div>
</div>
